<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:10px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Edilson Moizinho</h3>
      </div>

      <div class="text-center">@edilsondiasalves</div>
      <div class="text-center">
        <a href="https://github.com/edilsondiasalves">github/edilsondiasalves</a>
      </div>
    </div>
  </div>
</div>
